



{% extends 'base.html' %}
{% load my_filters %}

{% block content %}

{% if user.is_authenticated %}

<style>
    table {
        font-size: 12px; /* Adjust font size as needed */
        margin-left: -100px;
    }
  
    th, td {
        text-align: center;
    }
  
    thead {
        background-color: #343a40; /* Table header background color */
        color: #ffffff; /* Table header text color */
    }
  
    tbody tr:hover {
        background-color: #f8f9fa; /* Table row background color on hover */
    }
</style>

<div class="container">
  <ul class="nav nav-tabs" style="margin-left: -100px;">
    <li class="nav-item">
      <a class="nav-link {% if tab == 'open' %}active{% endif %}" href="{% url 'home' 'open' %}">Aktuell</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if tab == 'close' %}active{% endif %}" href="{% url 'home' 'close' %}">Vergangene</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if tab == 'emaillog' %}active{% endif %}" href="{% url 'home' 'emaillog' %}">Emaillog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if tab == 'inbox' %}active{% endif %}" href="{% url 'home' 'inbox' %}">Inbox</a>
    </li>
  </ul>
 
  <div class="tab-content">
    
    <div class="tab-pane fade show {% if tab == 'open' or tab == 'close' %}active{% endif %}" id="{{ tab }}">

      {% if tab == 'open' or tab == 'close' %}
      <!-- Your current content goes here -->
      <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
              <th scope="col">ID </th>
              <th scope="col">Organisation</th>
              <th scope="col">Klasse</th>
              <th scope="col">Ausflugs-<br>paket</th> 
              <th scope="col">Anzahl Schüler + Begleitung</th>
              <th scope="col">Anreise</th>
              <th scope="col">Ansprechpartner</th>
              <th scope="col">Handy</th>
              <th scope="col">Schüler männlich</th>
              <th scope="col">Schüler weiblich</th>
              <th scope="col">Begl. männlich</th>
              <th scope="col">Begl. weiblich</th>
              <th scope="col">VDWS Schein</th>
              <th scope="col">Weitere Aktivität</th>
              <th scope="col">Arrival Date</th>
              <th scope="col">Days to answer</th>
              <th scope="col">Status</th>
              <th scope="col">Bemerkung</th>
            </tr>
        </thead>
        <tbody>
            {% if records %}
                {% for record in records %}
                    <tr>
                      <td>
                        <a href="{% url 'update_record' record.uuid %}" class="btn btn-outline-success btn-sm">Bearbeiten</a></p> &nbsp;
                        <a href="{% url 'record' record.uuid %}" class="btn btn-outline-dark btn-sm"> Ansehen</a>
                      </td>
                      <td>{{ record.organisation }}</td>
                      <td>{{ record.schoolclass }}</td>
                      <td>{{ record.ausflugspaket }}   </td>
                      <td>{{ record.amount_students_male|add:record.amount_students_female }} + {{record.amount_organizer_male|add:record.amount_organizer_female }} = {{ record.amount_organizer_male|add:record.amount_organizer_female|add:record.amount_students_male|add:record.amount_students_female }}  </td>
                      <td>{{ record.traveldetail }}  {{ record.planned_arrival_time }}  {{ record.planned_departure_time}} </td>
                      <td>{{ record.first_name }} {{ record.last_name }}</td>
                      <td>{{ record.phone }}</td>
                      <td>{{ record.amount_students_male }}</td>
                      <td>{{ record.amount_students_female }}</td>
                      <td>{{ record.amount_organizer_male }}</td>
                      <td>{{ record.amount_organizer_female }}</td>
                      <td>{{ record.vdws_schein|yesno:"Ja," }}</td>
                      <td>{% for subpaket in record.subpaket.all %} {{ subpaket.bezeichnung|slice:"0:10" }} {% endfor %}</td>
                      <td>{{ record.arrival_date }}</td>
                      <td class="  {% if record.response_untill|days_until > 0 %}text-success{% else %}text-danger{% endif %}">
                          {{ record.response_untill }} {{ record.response_untill|days_until }}</td>
                      <td>{% if record.status == "ANSWERED" %}
                        <span class="text-success">{{ record.status }}</span>
                    {% elif record.status == "UNANSWERED" %}
                        <span class="text-danger">{{ record.status }}</span>
                    {% elif record.status == "EMAIL SEND" %}
                        <span class="text-warning">{{ record.status }}</span>
                    {% else %}
                        {{ record.status }}
                    {% endif %}  {{ record.created_by.username }} </td>
                      <td>{{ record.remark_client }}</td>
                                           
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
      </table>
    </div>
    {% endif %}

    <div class="tab-pane fade {% if tab == 'emaillog' %}active{% endif %}" id="emaillog">
             <!-- Your current content goes here -->
      <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
              <th scope="col">ID </th>
                <th scope="col">created</th>
                <th scope="col">from_email</th>
                <th scope="col">to</th>
            </tr>
        </thead>
        <tbody>
            {% if records %}
                {% for record in records %}
                    <tr>
                      <td>{{ record.id }}</td>
                        <td>{{ record.created }}</td>
                        <td>{{ record.from_email }}</td>
                        <td>{{ record.to }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade {% if tab == 'inbox' %}active{% endif %}" id="inbox">
      <!-- Content for the "Inbox" tab goes here -->
    </div>
  </div>
</div>


{% else %}

<div class="col-md-6 offset-md-3">
    <h2>Login für Gruppen</h2>
    <br/>
  
    <form method="POST" action="{% url 'home' %}">
      {% csrf_token %}
  
      <div class="mb-3">
        <input type="text" class="form-control" name="username", placeholder="E-Mail" required>
        
      </div><br/>
      <div class="mb-3">
        <input type="text" class="form-control" name="password", placeholder="Passwort" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-secondary">Login</button>
  
    </form>

{% endif %}

{% endblock %}
