{% extends 'base.html' %}



{% block content %}
<div class="d-flex justify-content-end mb-3">
  <a href="{% url 'home' %}" class="btn btn-secondary me-2">Back</a>
  <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger me-2">Delete</a>
  <a href="{% url 'send_reminder_email' customer_record.uuid %}" class="btn btn-secondary" onclick="askok(event)">Send Reminder</a>
  <a href="{% url 'update_record' customer_record.uuid %}" class="btn btn-secondary">Update Record</a>
</div>

<div class="card">
  <div class="card-header"><strong>{{ customer_record.first_name }} {{ customer_record.last_name }}</strong></div>
  <div class="card-body">
      <p class="card-text"><strong>Email: </strong>{{ customer_record.email }}</p>
      <p class="card-text"><strong>Phone: </strong>{{ customer_record.phone }}</p>
      <p class="card-text"><strong>Organisation: </strong>{{ customer_record.organisation }}</p>
      <p class="card-text"><strong>City: </strong>{{ customer_record.city }}</p>
      <p class="card-text"><strong>Reservation: </strong>{{ customer_record.reservation }}</p>
      <p class="card-text"><strong>Create At: </strong>{{ customer_record.created_at }}</p>
      <p class="card-text"><strong>ID: </strong>{{ customer_record.id }}</p>
  </div>
</div>

<br/><br/>



<table class="table table-striped">
  <thead>
      <tr>
          <th>Emails von San Pepelone</th>
          <!-- Add more headers for other fields -->
      </tr>
  </thead>
  <tbody>
      {% for email in customer_email %}
          <tr>
            <td>{{ email.created }}</td>
            <td>{{ email.subject }}</td>  
            <td>{{ email.to }}</td>
            <td>{{ email.from_email }}</td>

              <!-- Add more cells for other fields -->
          </tr>
      {% empty %}
          <tr>
              <td colspan="5">No emails found</td>
          </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}